body {
  display: grid;
}

form {
  display: flex;
  margin: auto;
}

fieldset {
  width: 31.25rem;
  display: grid;
  grid-template-columns: repeat(4, 8rem);
}

fieldset div {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
}

legend {
  border: 1px solid black;
  margin-left: 3.5rem;
}